<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="label">Select your {{category}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="productsGroup" (ngSubmit)='onSubmit()'>
      <div class="modal-body choice-modal">
        <div class="container-fluid">
          <div class="row inner-scroll" *ngIf="(products$ | async) as products">
            <div class="col-md-2" *ngFor="let product of products">
              <div class="form-group">
                <div class="gallery-card">
                  <div class="gallery-card-body">
                    <label>
                      <app-product [product]="product"></app-product>
                      <p>{{product.name}}</p>
                      <input type="checkbox" [value]="product.name" (change)="onCheckChange($event)">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-raised-button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </form>
  </div>
</div>
